In [9]:
import pandas as pd

### Importing and pre-processing of data

In [10]:
df_daily_deaths = pd.read_excel(r'/Users/ivan/Desktop/PycharmProjects/Data_Science_Mini/Data/raw/COVID-19-total-announced-deaths-28-December-2020.xlsx',
                   sheet_name='Tab1 Deaths by region',
                   engine='openpyxl')

# remove all but rows 14 to 23 as others not needed
df_daily_deaths = df_daily_deaths.iloc[14:24]
df_daily_deaths.reset_index(drop=True,inplace=True)

new_header = df_daily_deaths.iloc[0]
df_daily_deaths = df_daily_deaths[1:]
df_daily_deaths.columns = new_header

# remove 1st and 2nd rows as not needed
df_daily_deaths.drop(df_daily_deaths.index[[0,1]], inplace=True)

# drop rows with NaN
df_daily_deaths = df_daily_deaths.dropna(axis=1)

# drop various columns as not needed
df_daily_deaths = df_daily_deaths.drop(columns=['Up to 01-Mar-20','Awaiting verification', 'Total'])

df_daily_deaths.reset_index(drop=True,inplace=True)


# changing headers to dates
datelist = pd.date_range(start='03/01/2020', end='12/27/2020').strftime('%d-%m-%Y')
print(len(datelist))
i = 0
for col in df_daily_deaths.columns[1:len(datelist)+2]:
    df_daily_deaths.rename(columns={col:datelist[i]}, inplace=True)
    i += 1


df_daily_deaths.head()

302

,NHS England Region,01-03-2020,02-03-2020,03-03-2020,04-03-2020,05-03-2020,06-03-2020,07-03-2020,08-03-2020,09-03-2020,...,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020,23-12-2020,24-12-2020,25-12-2020,26-12-2020,27-12-2020
0,East Of England,0,1,0,0,0,1,0,0,1,...,34,42,42,55,40,39,24,28,24,5
1,London,0,0,0,0,0,1,0,0,1,...,39,38,50,54,48,50,41,35,24,9
2,Midlands,0,0,1,0,0,0,0,2,1,...,76,54,65,77,64,55,47,53,38,7
3,North East And Yorkshire,0,0,0,0,0,0,0,0,0,...,54,47,48,33,50,41,41,39,31,8
4,North West,0,0,0,0,1,0,0,1,0,...,46,45,36,47,47,41,29,23,24,4

### Function to find and remove any columns where sum is 0 (I'll write a function in case it needs to be used later for another dataframe)

In [11]:
def remove_col_if_sum_0(df):
    for column in df:
        if df[column].sum() == 0:
            df.drop(column, axis=1, inplace=True)

remove_col_if_sum_0(df_daily_deaths)
df_daily_deaths

,NHS England Region,02-03-2020,03-03-2020,05-03-2020,06-03-2020,08-03-2020,09-03-2020,10-03-2020,11-03-2020,12-03-2020,...,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020,23-12-2020,24-12-2020,25-12-2020,26-12-2020,27-12-2020
0,East Of England,1,0,0,1,0,1,0,0,0,...,34,42,42,55,40,39,24,28,24,5
1,London,0,0,0,1,0,1,0,5,6,...,39,38,50,54,48,50,41,35,24,9
2,Midlands,0,1,0,0,2,1,0,2,6,...,76,54,65,77,64,55,47,53,38,7
3,North East And Yorkshire,0,0,0,0,0,0,0,0,0,...,54,47,48,33,50,41,41,39,31,8
4,North West,0,0,1,0,1,0,0,0,2,...,46,45,36,47,47,41,29,23,24,4
5,South East,0,1,1,0,1,1,1,1,0,...,38,34,44,54,51,56,33,39,28,8
6,South West,0,0,0,0,0,0,0,1,0,...,8,20,17,20,10,11,9,4,10,2

### Saving cleaned data to Processed folder

In [12]:
df_daily_deaths.to_csv('Data/Processed/daily_deaths.csv')