In [79]:
import pandas as pd

In [165]:
df_daily_deaths = pd.read_excel(r'/Users/ivan/Desktop/PycharmProjects/Data_Science_Mini/Data/raw/COVID-19-total-announced-deaths-28-December-2020.xlsx',
                   sheet_name='Tab1 Deaths by region',
                   engine='openpyxl')

# remove all but rows 14 to 23 as others not needed
df_daily_deaths = df_daily_deaths.iloc[14:24]
df_daily_deaths.reset_index(drop=True,inplace=True)

new_header = df_daily_deaths.iloc[0]
df_daily_deaths = df_daily_deaths[1:]
df_daily_deaths.columns = new_header

# remove 1st and 2nd rows as not needed
df_daily_deaths.drop(df_daily_deaths.index[[0,1]], inplace=True)

# drop rows with NaN
df_daily_deaths = df_daily_deaths.dropna(axis=1)

# drop last two columns as not needed
df_daily_deaths = df_daily_deaths.drop(columns=['Awaiting verification', 'Total'])

df_daily_deaths.reset_index(drop=True,inplace=True)


df_daily_deaths

,NHS England Region,Up to 01-Mar-20,2020-03-01 00:00:00,2020-03-02 00:00:00,2020-03-03 00:00:00,2020-03-04 00:00:00,2020-03-05 00:00:00,2020-03-06 00:00:00,2020-03-07 00:00:00,2020-03-08 00:00:00,...,2020-12-18 00:00:00,2020-12-19 00:00:00,2020-12-20 00:00:00,2020-12-21 00:00:00,2020-12-22 00:00:00,2020-12-23 00:00:00,2020-12-24 00:00:00,2020-12-25 00:00:00,2020-12-26 00:00:00,2020-12-27 00:00:00
0,East Of England,0,0,1,0,0,0,1,0,0,...,34,42,42,55,40,39,24,28,24,5
1,London,0,0,0,0,0,0,1,0,0,...,39,38,50,54,48,50,41,35,24,9
2,Midlands,0,0,0,1,0,0,0,0,2,...,76,54,65,77,64,55,47,53,38,7
3,North East And Yorkshire,0,0,0,0,0,0,0,0,0,...,54,47,48,33,50,41,41,39,31,8
4,North West,0,0,0,0,0,1,0,0,1,...,46,45,36,47,47,41,29,23,24,4
5,South East,0,0,0,1,0,1,0,0,1,...,38,34,44,54,51,56,33,39,28,8
6,South West,0,0,0,0,0,0,0,0,0,...,8,20,17,20,10,11,9,4,10,2