In [30]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

### Reading in of various dataframes from 'Processed' folder

In [31]:
pos_cases_df = pd.read_csv('Data/Processed/positive_cases.csv')
pos_cases_df.head()

,Date,Estimate of number testing positive,Proportion of population that had COVID
0,12/07/2020,23600,0.000435
1,19/07/2020,27700,0.000500
2,26/07/2020,35700,0.000667
3,02/08/2020,28300,0.000526
4,09/08/2020,28300,0.000526

In [32]:
eighteenth_Dec_df = pd.read_csv('Data/Processed/18_Dec.csv')
eighteenth_Dec_df.head()

,Region,Mechanical Ventilation (MV),All Beds,Non MV Beds,Percentage on MV
0,East of England,116.0,1802.0,1686.0,6.4
1,London,311.0,2726.0,2415.0,11.4
2,Midlands,246.0,3289.0,3043.0,7.5
3,North East and Yorkshire,137.0,2396.0,2259.0,5.7
4,North West,159.0,2255.0,2096.0,7.1

In [33]:
all_beds_df = pd.read_csv('Data/Processed/all_beds_df.csv')
all_beds_df.drop('Unnamed: 0', 1, inplace=True)
all_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,East of England,85.0,80.0,73.0,69.0,70.0,72.0,60.0,59.0,59.0,...,1432.0,1506.0,1502.0,1734.0,1770.0,1802.0,1943.0,1954.0,2163.0,2205.0
1,London,126.0,120.0,122.0,118.0,111.0,113.0,105.0,126.0,107.0,...,2212.0,2330.0,2482.0,2543.0,2607.0,2726.0,2909.0,3067.0,3367.0,3559.0
2,Midlands,216.0,194.0,206.0,182.0,181.0,179.0,178.0,96.0,101.0,...,3276.0,3286.0,3097.0,3191.0,3292.0,3289.0,3293.0,3203.0,3389.0,3447.0
3,North East and Yorkshire,117.0,120.0,115.0,123.0,128.0,132.0,111.0,117.0,117.0,...,2353.0,2483.0,2482.0,2505.0,2494.0,2396.0,2413.0,2464.0,2530.0,2496.0
4,North West,191.0,188.0,181.0,181.0,183.0,160.0,160.0,154.0,136.0,...,2266.0,2325.0,2322.0,2276.0,2271.0,2255.0,2253.0,2315.0,2399.0,2406.0

In [34]:
MV_beds_df = pd.read_csv('Data/Processed/MV_df.csv')
MV_beds_df.drop('Unnamed: 0', 1, inplace=True)
MV_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,East of England,9.0,9.0,8.0,8.0,8.0,9.0,9.0,11.0,9.0,...,99.0,103.0,103.0,108.0,113.0,116.0,124.0,121.0,120.0,127.0
1,London,16.0,15.0,17.0,15.0,13.0,11.0,10.0,10.0,12.0,...,256.0,262.0,292.0,291.0,301.0,311.0,322.0,355.0,378.0,400.0
2,Midlands,13.0,10.0,10.0,13.0,13.0,14.0,10.0,5.0,6.0,...,278.0,257.0,251.0,254.0,257.0,246.0,254.0,243.0,257.0,252.0
3,North East and Yorkshire,9.0,8.0,7.0,7.0,7.0,6.0,7.0,8.0,7.0,...,147.0,145.0,144.0,142.0,145.0,137.0,152.0,149.0,149.0,154.0
4,North West,15.0,15.0,13.0,13.0,13.0,13.0,13.0,14.0,14.0,...,165.0,161.0,162.0,159.0,159.0,159.0,162.0,156.0,165.0,153.0

In [35]:
daily_deaths_df = pd.read_csv('Data/Processed/daily_deaths.csv')
daily_deaths_df.drop('Unnamed: 0', 1, inplace=True)
daily_deaths_df.head()

,NHS England Region,01-03-2020,02-03-2020,03-03-2020,04-03-2020,05-03-2020,06-03-2020,07-03-2020,08-03-2020,09-03-2020,...,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020,23-12-2020,24-12-2020,25-12-2020,26-12-2020,27-12-2020
0,East Of England,0,1,0,0,0,1,0,0,1,...,34,42,42,55,40,39,24,28,24,5
1,London,0,0,0,0,0,1,0,0,1,...,39,38,50,54,48,50,41,35,24,9
2,Midlands,0,0,1,0,0,0,0,2,1,...,76,54,65,77,64,55,47,53,38,7
3,North East And Yorkshire,0,0,0,0,0,0,0,0,0,...,54,47,48,33,50,41,41,39,31,8
4,North West,0,0,0,0,1,0,0,1,0,...,46,45,36,47,47,41,29,23,24,4

### Descriptive Analysis using 'describe()' function (all rounded to 1dp)
### only include columns that are numbers (include=np.number)

In [36]:
print(pos_cases_df.describe(include=[np.number]).round(1))
print()
print(pos_cases_df.max())
print()
print(pos_cases_df.min())

       Estimate of number testing positive  \
count                                 24.0
mean                              287158.3
std                               265915.6
min                                23600.0
25%                                28300.0
50%                               170500.0
75%                               567500.0
max                               664700.0

       Proportion of population that had COVID
count                                     24.0
mean                                       0.0
std                                        0.0
min                                        0.0
25%                                        0.0
50%                                        0.0
75%                                        0.0
max                                        0.0

Date                                       31/10/2020
Estimate of number testing positive            664700
Proportion of population that had COVID        0.0125
dtype: object

Date                                        01/10/2020
Estimate of number testing positive              23600
Proportion of population that had COVID    0.000434783
dtype: object

In [37]:
print(eighteenth_Dec_df.describe(include=[np.number]).round(1))
print()
print(eighteenth_Dec_df.max())
print()
print(eighteenth_Dec_df.min())

       Mechanical Ventilation (MV)  All Beds  Non MV Beds  Percentage on MV
count                          8.0       8.0          8.0               8.0
mean                         297.5    3966.5       3669.0               7.3
std                          369.0    4853.1       4487.0               1.8
min                           56.0    1026.0        970.0               5.5
25%                          131.8    2141.8       1993.5               6.2
50%                          162.0    2384.0       2233.0               7.0
75%                          262.2    2866.8       2572.0               7.5
max                         1190.0   15866.0      14676.0              11.4

Region                         TOTAL
Mechanical Ventilation (MV)     1190
All Beds                       15866
Non MV Beds                    14676
Percentage on MV                11.4
dtype: object

Region                         East of England
Mechanical Ventilation (MV)                 56
All Beds                                  1026
Non MV Beds                                970
Percentage on MV                           5.5
dtype: object

In [38]:
print(all_beds_df.describe(include=[np.number]).round(1))
print()
print(all_beds_df.max())
print()
print(all_beds_df.min())

       01-08-2020  02-08-2020  03-08-2020  04-08-2020  05-08-2020  06-08-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean        125.6       121.0       120.3       115.3       115.0       108.0
std          64.7        59.3        61.6        57.0        56.6        54.7
min          21.0        23.0        23.0        23.0        26.0        22.0
25%         101.0       100.0        94.0        90.0        88.0        75.0
50%         123.0       120.0       122.0       118.0       111.0       113.0
75%         158.5       155.0       151.5       152.0       154.5       146.0
max         216.0       194.0       206.0       182.0       183.0       179.0

       07-08-2020  08-08-2020  09-08-2020  10-08-2020  ...  13-12-2020  \
count         7.0         7.0         7.0         7.0  ...         7.0
mean        101.6        92.9        87.3       102.0  ...      2065.7
std          55.3        45.4        39.9        51.4  ...       738.5
min          20.0        18.0        19.0        20.0  ...       946.0
25%          68.5        69.5        65.5        72.5  ...      1703.5
50%         105.0        96.0       101.0       107.0  ...      2212.0
75%         135.5       121.5       112.0       140.5  ...      2309.5
max         178.0       154.0       136.0       161.0  ...      3276.0

       14-12-2020  15-12-2020  16-12-2020  17-12-2020  18-12-2020  19-12-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean       2150.4      2147.3      2209.3      2248.7      2266.6      2311.9
std         729.3       692.6       683.8       707.7       711.7       714.0
min        1005.0      1005.0      1021.0      1025.0      1026.0      1051.0
25%        1812.0      1821.5      1964.5      2020.5      2028.5      2098.0
50%        2325.0      2322.0      2276.0      2282.0      2372.0      2321.0
75%        2406.5      2482.0      2524.0      2550.5      2561.0      2661.0
max        3286.0      3097.0      3191.0      3292.0      3289.0      3293.0

       20-12-2020  21-12-2020  22-12-2020
count         7.0         7.0         7.0
mean       2376.1      2529.9      2580.4
std         715.6       779.8       831.1
min        1076.0      1112.0      1102.0
25%        2134.5      2281.0      2305.5
50%        2464.0      2530.0      2496.0
75%        2810.5      3058.0      3147.5
max        3203.0      3389.0      3559.0

[8 rows x 144 columns]

Name          South West
01-08-2020           216
02-08-2020           194
03-08-2020           206
04-08-2020           182
                 ...
18-12-2020          3289
19-12-2020          3293
20-12-2020          3203
21-12-2020          3389
22-12-2020          3559
Length: 145, dtype: object

Name          East of England
01-08-2020                 21
02-08-2020                 23
03-08-2020                 23
04-08-2020                 23
                   ...
18-12-2020               1026
19-12-2020               1051
20-12-2020               1076
21-12-2020               1112
22-12-2020               1102
Length: 145, dtype: object

In [39]:
print(MV_beds_df.describe(include=[np.number]).round(1))
print()
print(MV_beds_df.max())
print()
print(MV_beds_df.min())

       01-08-2020  02-08-2020  03-08-2020  04-08-2020  05-08-2020  06-08-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean         10.6        10.3         9.6         9.3         9.0         8.7
std           5.4         5.5         5.4         5.1         4.7         4.8
min           0.0         0.0         0.0         0.0         0.0         0.0
25%           9.0         8.5         7.5         7.5         7.5         7.0
50%          12.0        10.0        10.0         9.0         9.0         9.0
75%          14.0        15.0        12.5        13.0        13.0        12.0
max          16.0        15.0        17.0        15.0        13.0        14.0

       07-08-2020  08-08-2020  09-08-2020  10-08-2020  ...  13-12-2020  \
count         7.0         7.0         7.0         7.0  ...         7.0
mean          8.1         7.9         8.0         8.6  ...       160.4
std           4.1         4.5         4.5         5.6  ...        81.4
min           0.0         0.0         0.0         0.0  ...        53.0
25%           7.5         6.0         6.5         6.5  ...       112.0
50%           9.0         8.0         8.0         8.0  ...       147.0
75%          10.0        10.5        10.5        10.5  ...       210.5
max          13.0        14.0        14.0        18.0  ...       278.0

       14-12-2020  15-12-2020  16-12-2020  17-12-2020  18-12-2020  19-12-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean        161.0       165.6       166.1       169.7       170.0       177.0
std          75.7        81.3        80.9        84.0        84.5        86.7
min          56.0        57.0        58.0        54.0        56.0        57.0
25%         123.0       123.5       125.0       129.0       126.5       138.0
50%         145.0       150.0       151.0       159.0       159.0       162.0
75%         209.0       206.5       206.5       208.0       205.5       211.0
max         262.0       292.0       291.0       301.0       311.0       322.0

       20-12-2020  21-12-2020  22-12-2020
count         7.0         7.0         7.0
mean        181.0       189.6       191.3
std          94.9       102.8       110.0
min          60.0        62.0        56.0
25%         135.0       134.5       140.0
50%         156.0       165.0       154.0
75%         213.0       226.5       224.5
max         355.0       378.0       400.0

[8 rows x 144 columns]

Name          South West
01-08-2020            16
02-08-2020            15
03-08-2020            17
04-08-2020            15
                 ...
18-12-2020           311
19-12-2020           322
20-12-2020           355
21-12-2020           378
22-12-2020           400
Length: 145, dtype: object

Name          East of England
01-08-2020                  0
02-08-2020                  0
03-08-2020                  0
04-08-2020                  0
                   ...
18-12-2020                 56
19-12-2020                 57
20-12-2020                 60
21-12-2020                 62
22-12-2020                 56
Length: 145, dtype: object

In [40]:
print(daily_deaths_df.describe(include=[np.number]).round(1))
print()
print(daily_deaths_df.max())
print()
print(daily_deaths_df.min())

       01-03-2020  02-03-2020  03-03-2020  04-03-2020  05-03-2020  06-03-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean          0.0         0.1         0.3         0.0         0.3         0.3
std           0.0         0.4         0.5         0.0         0.5         0.5
min           0.0         0.0         0.0         0.0         0.0         0.0
25%           0.0         0.0         0.0         0.0         0.0         0.0
50%           0.0         0.0         0.0         0.0         0.0         0.0
75%           0.0         0.0         0.5         0.0         0.5         0.5
max           0.0         1.0         1.0         0.0         1.0         1.0

       07-03-2020  08-03-2020  09-03-2020  10-03-2020  ...  18-12-2020  \
count         7.0         7.0         7.0         7.0  ...         7.0
mean          0.0         0.6         0.6         0.1  ...        42.1
std           0.0         0.8         0.5         0.4  ...        20.7
min           0.0         0.0         0.0         0.0  ...         8.0
25%           0.0         0.0         0.0         0.0  ...        36.0
50%           0.0         0.0         1.0         0.0  ...        39.0
75%           0.0         1.0         1.0         0.0  ...        50.0
max           0.0         2.0         1.0         1.0  ...        76.0

       19-12-2020  20-12-2020  21-12-2020  22-12-2020  23-12-2020  24-12-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean         40.0        43.1        48.6        44.3        41.9        32.0
std          10.9        14.6        18.1        16.7        15.3        12.8
min          20.0        17.0        20.0        10.0        11.0         9.0
25%          36.0        39.0        40.0        43.5        40.0        26.5
50%          42.0        44.0        54.0        48.0        41.0        33.0
75%          46.0        49.0        54.5        50.5        52.5        41.0
max          54.0        65.0        77.0        64.0        56.0        47.0

       25-12-2020  26-12-2020  27-12-2020
count         7.0         7.0         7.0
mean         31.6        25.6         6.1
std          15.4         8.6         2.5
min           4.0        10.0         2.0
25%          25.5        24.0         4.5
50%          35.0        24.0         7.0
75%          39.0        29.5         8.0
max          53.0        38.0         9.0

[8 rows x 302 columns]

NHS England Region    South West
01-03-2020                     0
02-03-2020                     1
03-03-2020                     1
04-03-2020                     0
                         ...
23-12-2020                    56
24-12-2020                    47
25-12-2020                    53
26-12-2020                    38
27-12-2020                     9
Length: 303, dtype: object

NHS England Region    East Of England
01-03-2020                          0
02-03-2020                          0
03-03-2020                          0
04-03-2020                          0
                           ...
23-12-2020                         11
24-12-2020                          9
25-12-2020                          4
26-12-2020                         10
27-12-2020                          2
Length: 303, dtype: object