In [23]:
import pandas as pd

### Reading in of various dataframes from 'Processed' folder

In [24]:
pos_cases_df = pd.read_csv('Data/Processed/positive_cases.csv')
pos_cases_df.head()

,Date,Estimate of number testing positive,Proportion of population that had COVID
0,12/07/2020,23600,0.000435
1,19/07/2020,27700,0.000500
2,26/07/2020,35700,0.000667
3,02/08/2020,28300,0.000526
4,09/08/2020,28300,0.000526

In [25]:
third_Dec_df = pd.read_csv('Data/Processed/3rd_Dec.csv')
third_Dec_df.head()

,Region,Mechanical Ventilation (MV),All Beds,Non MV Beds,Percentage on MV
0,East of England,81.0,1035.0,954.0,7.8
1,London,256.0,1685.0,1429.0,15.2
2,Midlands,244.0,2843.0,2599.0,8.6
3,North East and Yorkshire,167.0,2551.0,2384.0,6.5
4,North West,178.0,2434.0,2256.0,7.3

In [29]:
all_beds_df = pd.read_csv('Data/Processed/all_beds_df.csv')
all_beds_df.drop('Unnamed: 0', 1, inplace=True)
all_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,ENGLAND,879.0,847.0,842.0,807.0,805.0,756.0,711.0,650.0,611.0,...,14460.0,15053.0,15031.0,15465.0,15741.0,15866.0,16183.0,16633.0,17709.0,18063.0
1,East of England,85.0,80.0,73.0,69.0,70.0,72.0,60.0,59.0,59.0,...,1432.0,1506.0,1502.0,1734.0,1770.0,1802.0,1943.0,1954.0,2163.0,2205.0
2,London,126.0,120.0,122.0,118.0,111.0,113.0,105.0,126.0,107.0,...,2212.0,2330.0,2482.0,2543.0,2607.0,2726.0,2909.0,3067.0,3367.0,3559.0
3,Midlands,216.0,194.0,206.0,182.0,181.0,179.0,178.0,96.0,101.0,...,3276.0,3286.0,3097.0,3191.0,3292.0,3289.0,3293.0,3203.0,3389.0,3447.0
4,North East and Yorkshire,117.0,120.0,115.0,123.0,128.0,132.0,111.0,117.0,117.0,...,2353.0,2483.0,2482.0,2505.0,2494.0,2396.0,2413.0,2464.0,2530.0,2496.0

In [30]:
MV_beds_df = pd.read_csv('Data/Processed/MV_df.csv')
MV_beds_df.drop('Unnamed: 0', 1, inplace=True)
MV_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,ENGLAND,74.0,72.0,67.0,65.0,63.0,61.0,57.0,55.0,56.0,...,1123.0,1127.0,1159.0,1163.0,1188.0,1190.0,1239.0,1267.0,1327.0,1339.0
1,East of England,9.0,9.0,8.0,8.0,8.0,9.0,9.0,11.0,9.0,...,99.0,103.0,103.0,108.0,113.0,116.0,124.0,121.0,120.0,127.0
2,London,16.0,15.0,17.0,15.0,13.0,11.0,10.0,10.0,12.0,...,256.0,262.0,292.0,291.0,301.0,311.0,322.0,355.0,378.0,400.0
3,Midlands,13.0,10.0,10.0,13.0,13.0,14.0,10.0,5.0,6.0,...,278.0,257.0,251.0,254.0,257.0,246.0,254.0,243.0,257.0,252.0
4,North East and Yorkshire,9.0,8.0,7.0,7.0,7.0,6.0,7.0,8.0,7.0,...,147.0,145.0,144.0,142.0,145.0,137.0,152.0,149.0,149.0,154.0