In [13]:
import pandas as pd

### Reading in of various dataframes from 'Processed' folder

In [14]:
pos_cases_df = pd.read_csv('Data/Processed/positive_cases.csv')
pos_cases_df.head()

,Date,Estimate of number testing positive,Proportion of population that had COVID
0,12/07/2020,23600,0.000435
1,19/07/2020,27700,0.000500
2,26/07/2020,35700,0.000667
3,02/08/2020,28300,0.000526
4,09/08/2020,28300,0.000526

In [24]:
eightenth_Dec_df = pd.read_csv('Data/Processed/18_Dec.csv')
eightenth_Dec_df.head()

,Region,Mechanical Ventilation (MV),All Beds,Non MV Beds,Percentage on MV
0,East of England,116.0,1802.0,1686.0,6.4
1,London,311.0,2726.0,2415.0,11.4
2,Midlands,246.0,3289.0,3043.0,7.5
3,North East and Yorkshire,137.0,2396.0,2259.0,5.7
4,North West,159.0,2255.0,2096.0,7.1

In [16]:
all_beds_df = pd.read_csv('Data/Processed/all_beds_df.csv')
all_beds_df.drop('Unnamed: 0', 1, inplace=True)
all_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,ENGLAND,879.0,847.0,842.0,807.0,805.0,756.0,711.0,650.0,611.0,...,14460.0,15053.0,15031.0,15465.0,15741.0,15866.0,16183.0,16633.0,17709.0,18063.0
1,East of England,85.0,80.0,73.0,69.0,70.0,72.0,60.0,59.0,59.0,...,1432.0,1506.0,1502.0,1734.0,1770.0,1802.0,1943.0,1954.0,2163.0,2205.0
2,London,126.0,120.0,122.0,118.0,111.0,113.0,105.0,126.0,107.0,...,2212.0,2330.0,2482.0,2543.0,2607.0,2726.0,2909.0,3067.0,3367.0,3559.0
3,Midlands,216.0,194.0,206.0,182.0,181.0,179.0,178.0,96.0,101.0,...,3276.0,3286.0,3097.0,3191.0,3292.0,3289.0,3293.0,3203.0,3389.0,3447.0
4,North East and Yorkshire,117.0,120.0,115.0,123.0,128.0,132.0,111.0,117.0,117.0,...,2353.0,2483.0,2482.0,2505.0,2494.0,2396.0,2413.0,2464.0,2530.0,2496.0

In [17]:
MV_beds_df = pd.read_csv('Data/Processed/MV_df.csv')
MV_beds_df.drop('Unnamed: 0', 1, inplace=True)
MV_beds_df.head()

,Name,01-08-2020,02-08-2020,03-08-2020,04-08-2020,05-08-2020,06-08-2020,07-08-2020,08-08-2020,09-08-2020,...,13-12-2020,14-12-2020,15-12-2020,16-12-2020,17-12-2020,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020
0,ENGLAND,74.0,72.0,67.0,65.0,63.0,61.0,57.0,55.0,56.0,...,1123.0,1127.0,1159.0,1163.0,1188.0,1190.0,1239.0,1267.0,1327.0,1339.0
1,East of England,9.0,9.0,8.0,8.0,8.0,9.0,9.0,11.0,9.0,...,99.0,103.0,103.0,108.0,113.0,116.0,124.0,121.0,120.0,127.0
2,London,16.0,15.0,17.0,15.0,13.0,11.0,10.0,10.0,12.0,...,256.0,262.0,292.0,291.0,301.0,311.0,322.0,355.0,378.0,400.0
3,Midlands,13.0,10.0,10.0,13.0,13.0,14.0,10.0,5.0,6.0,...,278.0,257.0,251.0,254.0,257.0,246.0,254.0,243.0,257.0,252.0
4,North East and Yorkshire,9.0,8.0,7.0,7.0,7.0,6.0,7.0,8.0,7.0,...,147.0,145.0,144.0,142.0,145.0,137.0,152.0,149.0,149.0,154.0

In [18]:
daily_deaths_df = pd.read_csv('Data/Processed/daily_deaths.csv')
daily_deaths_df.drop('Unnamed: 0', 1, inplace=True)
daily_deaths_df.head()

,NHS England Region,01-03-2020,02-03-2020,03-03-2020,04-03-2020,05-03-2020,06-03-2020,07-03-2020,08-03-2020,09-03-2020,...,18-12-2020,19-12-2020,20-12-2020,21-12-2020,22-12-2020,23-12-2020,24-12-2020,25-12-2020,26-12-2020,27-12-2020
0,East Of England,0,1,0,0,0,1,0,0,1,...,34,42,42,55,40,39,24,28,24,5
1,London,0,0,0,0,0,1,0,0,1,...,39,38,50,54,48,50,41,35,24,9
2,Midlands,0,0,1,0,0,0,0,2,1,...,76,54,65,77,64,55,47,53,38,7
3,North East And Yorkshire,0,0,0,0,0,0,0,0,0,...,54,47,48,33,50,41,41,39,31,8
4,North West,0,0,0,0,1,0,0,1,0,...,46,45,36,47,47,41,29,23,24,4

### Descriptive Analysis using 'describe()' function (all rounded to 1dp)

In [19]:
print(pos_cases_df.describe().round(1))

       Estimate of number testing positive  \
count                                 24.0
mean                              287158.3
std                               265915.6
min                                23600.0
25%                                28300.0
50%                               170500.0
75%                               567500.0
max                               664700.0

       Proportion of population that had COVID
count                                     24.0
mean                                       0.0
std                                        0.0
min                                        0.0
25%                                        0.0
50%                                        0.0
75%                                        0.0
max                                        0.0

In [20]:
print(third_Dec_df.describe().round(1))

       Mechanical Ventilation (MV)  All Beds  Non MV Beds  Percentage on MV
count                          8.0       8.0          8.0               8.0
mean                         273.5    3224.0       2950.5               8.5
std                          339.1    3972.7       3637.4               2.8
min                           58.0     906.0        848.0               6.4
25%                          102.8    1340.2       1237.5               7.1
50%                          172.5    2059.5       1842.5               7.7
75%                          247.0    2624.0       2437.8               8.5
max                         1094.0   12896.0      11802.0              15.2

In [21]:
print(all_beds_df.describe().round(1))

       01-08-2020  02-08-2020  03-08-2020  04-08-2020  05-08-2020  06-08-2020  \
count         8.0         8.0         8.0         8.0         8.0         8.0
mean        219.8       211.8       210.5       201.8       201.2       189.0
std         273.0       262.5       261.5       250.2       249.5       234.6
min          21.0        23.0        23.0        23.0        26.0        22.0
25%         109.0       110.0       104.5       100.5        97.0        76.5
50%         124.5       121.0       122.0       120.5       119.5       122.5
75%         197.2       189.5       187.2       181.2       181.5       164.8
max         879.0       847.0       842.0       807.0       805.0       756.0

       07-08-2020  08-08-2020  09-08-2020  10-08-2020  ...  13-12-2020  \
count         8.0         8.0         8.0         8.0  ...         8.0
mean        177.8       162.5       152.8       178.5  ...      3615.0
std         221.5       201.4       188.8       221.6  ...      4435.1
min          20.0        18.0        19.0        20.0  ...       946.0
25%          72.8        74.8        68.8        77.2  ...      1839.2
50%         108.0       106.5       104.0       114.0  ...      2239.0
75%         164.5       133.0       121.8       160.2  ...      2583.8
max         711.0       650.0       611.0       714.0  ...     14460.0

       14-12-2020  15-12-2020  16-12-2020  17-12-2020  18-12-2020  19-12-2020  \
count         8.0         8.0         8.0         8.0         8.0         8.0
mean       3763.2      3757.8      3866.2      3935.2      3966.5      4045.8
std        4611.4      4600.0      4729.2      4815.0      4853.1      4948.5
min        1005.0      1005.0      1021.0      1025.0      1026.0      1051.0
25%        1965.0      1981.2      2079.8      2145.8      2141.8      2175.5
50%        2327.5      2402.0      2390.5      2388.0      2384.0      2367.0
75%        2683.8      2635.8      2705.0      2778.2      2866.8      3005.0
max       15053.0     15031.0     15465.0     15741.0     15866.0     16183.0

       20-12-2020  21-12-2020  22-12-2020
count         8.0         8.0         8.0
mean       4158.2      4427.2      4515.8
std        5083.9      5415.0      5527.7
min        1076.0      1112.0      1102.0
25%        2224.8      2340.0      2355.8
50%        2509.0      2639.5      2672.0
75%        3101.0      3372.5      3475.0
max       16633.0     17709.0     18063.0

[8 rows x 144 columns]

In [22]:
print(MV_beds_df.describe().round(1))

       01-08-2020  02-08-2020  03-08-2020  04-08-2020  05-08-2020  06-08-2020  \
count         8.0         8.0         8.0         8.0         8.0         8.0
mean         18.5        18.0        16.8        16.2        15.8        15.2
std          23.0        22.4        20.9        20.2        19.6        19.0
min           0.0         0.0         0.0         0.0         0.0         0.0
25%           9.0         8.8         7.8         7.8         7.8         7.5
50%          12.5        12.5        11.0        11.0        11.0        10.0
75%          15.2        15.0        14.0        13.5        13.0        13.2
max          74.0        72.0        67.0        65.0        63.0        61.0

       07-08-2020  08-08-2020  09-08-2020  10-08-2020  ...  13-12-2020  \
count         8.0         8.0         8.0         8.0  ...         8.0
mean         14.2        13.8        14.0        15.0  ...       280.8
std          17.7        17.2        17.5        18.9  ...       348.6
min           0.0         0.0         0.0         0.0  ...        53.0
25%           7.8         6.5         6.8         7.2  ...       118.5
50%           9.5         9.0         8.5         8.5  ...       156.0
75%          10.8        11.8        12.5        13.5  ...       261.5
max          57.0        55.0        56.0        60.0  ...      1123.0

       14-12-2020  15-12-2020  16-12-2020  17-12-2020  18-12-2020  19-12-2020  \
count         8.0         8.0         8.0         8.0         8.0         8.0
mean        281.8       289.8       290.8       297.0       297.5       309.8
std         348.6       359.2       360.3       368.3       369.0       384.0
min          56.0        57.0        58.0        54.0        56.0        57.0
25%         133.0       133.8       133.5       137.0       131.8       145.0
50%         153.0       156.0       155.0       159.0       162.0       165.0
75%         258.2       261.2       263.2       268.0       262.2       271.0
max        1127.0      1159.0      1163.0      1188.0      1190.0      1239.0

       20-12-2020  21-12-2020  22-12-2020
count         8.0         8.0         8.0
mean        316.8       331.8       334.8
std         393.9       413.3       418.4
min          60.0        62.0        56.0
25%         142.0       141.8       146.5
50%         169.5       180.5       175.5
75%         271.0       287.2       289.0
max        1267.0      1327.0      1339.0

[8 rows x 144 columns]

In [23]:
print(daily_deaths_df.describe().round(1))

       01-03-2020  02-03-2020  03-03-2020  04-03-2020  05-03-2020  06-03-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean          0.0         0.1         0.3         0.0         0.3         0.3
std           0.0         0.4         0.5         0.0         0.5         0.5
min           0.0         0.0         0.0         0.0         0.0         0.0
25%           0.0         0.0         0.0         0.0         0.0         0.0
50%           0.0         0.0         0.0         0.0         0.0         0.0
75%           0.0         0.0         0.5         0.0         0.5         0.5
max           0.0         1.0         1.0         0.0         1.0         1.0

       07-03-2020  08-03-2020  09-03-2020  10-03-2020  ...  18-12-2020  \
count         7.0         7.0         7.0         7.0  ...         7.0
mean          0.0         0.6         0.6         0.1  ...        42.1
std           0.0         0.8         0.5         0.4  ...        20.7
min           0.0         0.0         0.0         0.0  ...         8.0
25%           0.0         0.0         0.0         0.0  ...        36.0
50%           0.0         0.0         1.0         0.0  ...        39.0
75%           0.0         1.0         1.0         0.0  ...        50.0
max           0.0         2.0         1.0         1.0  ...        76.0

       19-12-2020  20-12-2020  21-12-2020  22-12-2020  23-12-2020  24-12-2020  \
count         7.0         7.0         7.0         7.0         7.0         7.0
mean         40.0        43.1        48.6        44.3        41.9        32.0
std          10.9        14.6        18.1        16.7        15.3        12.8
min          20.0        17.0        20.0        10.0        11.0         9.0
25%          36.0        39.0        40.0        43.5        40.0        26.5
50%          42.0        44.0        54.0        48.0        41.0        33.0
75%          46.0        49.0        54.5        50.5        52.5        41.0
max          54.0        65.0        77.0        64.0        56.0        47.0

       25-12-2020  26-12-2020  27-12-2020
count         7.0         7.0         7.0
mean         31.6        25.6         6.1
std          15.4         8.6         2.5
min           4.0        10.0         2.0
25%          25.5        24.0         4.5
50%          35.0        24.0         7.0
75%          39.0        29.5         8.0
max          53.0        38.0         9.0

[8 rows x 302 columns]