### Importing of modules and packages

In [114]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [115]:
df_postive_cases = pd.read_excel(r'/Users/ivan/Desktop/PycharmProjects/Data_Science_Mini/Data/raw/covid19infectionsurveydatasets2020122423122020174305.xlsx',
                                 sheet_name='1a',
                                 engine='openpyxl')

# remove unwanted rows
df_postive_cases = df_postive_cases[17:41].reindex()

# remove unwanted columns
column_list = ['Unnamed: 1', 'Unnamed: 2','Unnamed: 3','Unnamed: 5','Unnamed: 6','Unnamed: 8','Unnamed: 9',]
df_postive_cases = df_postive_cases.drop(column_list, axis=1)

# remove empty columns
df_postive_cases = df_postive_cases.loc[:,:'Unnamed: 7']

# rename columns
df_postive_cases = df_postive_cases.rename(columns={'Contents': 'Date',
                                                    'Unnamed: 4': 'Number testing positive',
                                                    'Unnamed: 7': 'Proportion of population that had COVID'})

In [116]:
# function to turn ratio (like '1 in 2000') into a decimal
def convert_ratio(x):
    a,b = x.split('in')
    c = int(a) / int(b)
    return c

In [117]:
df_postive_cases['Proportion of population that had COVID'] = df_postive_cases['Proportion of population that had COVID'].map(lambda x: x.replace(',',''))
df_postive_cases
df_postive_cases['Proportion of population that had COVID'] = df_postive_cases['Proportion of population that had COVID'].apply(convert_ratio)
df_postive_cases

,Date,Number testing positive,Proportion of population that had COVID
17,06 July to 12 July,23600,0.000435
18,13 July to 19 July,27700,0.000500
19,20 July to 26 July,35700,0.000667
20,27 July to 2 August,28300,0.000526
21,03 August to 09 August,28300,0.000526
22,07 August to 13 August,24600,0.000455
23,14 August to 20 August,28200,0.000526
24,19 August to 25 August,27100,0.000500
25,30 August to 05 September,39700,0.000714
26,04 September to 10 September,59800,0.001111
27,13 September to 19 September,103600,0.002000
28,18 September to 24 September,116600,0.002128
29,25 September to 01 October,224400,0.004167
30,02 October to 08 October,336500,0.006250
31,10 October to 16 October,433300,0.007692
32,17 October to 23 October,568100,0.010000
33,25 October to 31 October,618700,0.011111
34,31 October to 06 November,654000,0.011765
35,08 November to 14 November,664700,0.012500
36,15 November to 21 November,633000,0.011765
37,22 November to 28 November,521300,0.009524
38,29 November to 05 December,481500,0.008696
39,06 December to 12 December,567300,0.010526
40,12 December to 18 December,645800,0.011765

In [133]:
# function to convert '28 November' to 28/11/2020
def convert_date(x):
    x = datetime.strptime(x,"%d %B").strftime('%d/%m/%Y')
    return x

print(convert_date('21 June'))

21/06/1900